body {
    background-color: gray;
}
.terminal {
    visibility: hidden;
    position: absolute;
    /*Color only for visualition*/
    background-color: red;
    height: 90%;
    width: 100%;
    top: 0;
    left: 0;
}
.window {
    position: absolute;
    /*Color only for visualition*/
    background-color: violet;
    height: 90%;
    width: 100%;
    top: 0;
    left: 0;
}
.button_to_window {
        visibility: hidden;
    position: absolute;
    /*Color only for visualition*/
    background: black;
    height: 10%;
    width: 100%;
    bottom: 0;
    left: 0;
}
.button_to_terminal {
    position: absolute;
    /*Color only for visualition*/
    background: blue;
    height: 10%;
    width: 100%;
    bottom: 0;
    left: 0;
}
.hide_current {
    opacity: 0;
    visibility: hidden;
    transition: all 0.2s;
}
.show_hidden {
    opacity: 100;
    visibility: visible;
    transition: all 0.2s;
}
.terminal_box {
    background-color: black;
    border: 30px;
    border-color: white;
    border-radius: 10px;
    position: relative;
    height: 90%;
    width: 90%;
    top: 5%;
    left: 5%;
}
.soon_text {
    position:absolute;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    top: 45%;
    left: 49%;
}